# SPDX-License-Identifier: GPL-2.0-only
source "drivers/media/platform/stm/sti/bdisp/Kconfig"
source "drivers/media/platform/stm/sti/c8sectpfe/Kconfig"
source "drivers/media/platform/stm/sti/delta/Kconfig"
source "drivers/media/platform/stm/sti/hva/Kconfig"
